.brand {
	font-size: 20px;
	font-weight: 500;
	padding-top: 5px;
  cursor: pointer;
}

.right {
  background-color: #f6f6f6;
}

.center-div {
     margin: 0 auto;
     width: 400px; 
}

/*#search-field {
	display: inline-flex;
}
*/
.suggest-holder {
	
}
.suggest-holder input {
/*	width: 146px;
*/	border: 1px solid rgba(0,120,0,.6);
}
.suggest-holder ul {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid rgba(0,120,0,.6);
/*	margin-top: 30px;*/
}
.suggest-holder li {
	padding: 10px;

}
.suggest-holder li:hover {
	cursor: pointer;
}
.suggest-holder li:hover, li.active {
	background: rgba(0,120,0, .2);
}
.suggestResult {
	/*position:absolute;*/
	font-weight: bold;	
/*	display: block;
*//*	height: 10px;
*/}

.suggestNav {
	position: absolute;
}

#search-field {
  display: inline-flex;
}

#main {
  overflow: hidden;
  height: auto;
  background-color: #f6f6f6;
}

#left {
  float: none;
  width: auto;
  overflow: hidden;
}

#web_page_title{
	cursor: pointer;
}
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.15);
}
.popup-inner {
    font-size: 38px;
    width: 150px;
    text-align: center;
    height: 55px;
    position:absolute;
    top:80%;
    left:80%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#1ed760;
    cursor: pointer;
}
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}
