.page-header {
  margin-top: 0px;
  margin-bottom: 0px;
}

.center-div {
  margin: 0 auto;
  width: 500px; 
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-control {
  border-radius: 40px;
}

.brand {
  font-size: 24px;
  font-weight: 500;
  padding-top: 5px;
  cursor: pointer;
}

.suggest-holder {
}

.suggest-holder input {
	border: 3px solid #2ebd59;
}

.suggest-holder ul {
	display: none;
	border: 1px solid #2ebd59;
}

.suggest-holder li {
	padding: 10px;
}

.suggest-holder li:hover {
	cursor: pointer;
}

.suggest-result {
	font-weight: bold;
}

.suggest-nav {
	position: absolute;
}

.alert {
  color: #2ebd59;
  display: inline;
}

.input-error {
  color: red;
  display: none;
}

/* d3Tree */

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: black;
  stroke-width: 2px;
}

.node text {
  font-size:15px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.overlay{
  background-color:#FFFFFF;
}

.popup {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.15);
}

.popup-inner {
  font-size: 38px;
  width: 150px;
  text-align: center;
  height: 55px;
  position: absolute;
  top: 80%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 6px rgba(0,0,0,1);
  border-radius: 3px;
  background: #1ed760;
  color: white;
  cursor: pointer;
}

#main {
  overflow: hidden;
  height: auto;
  /*background-color: #f6f6f6;*/
}

#left {
  float: none;
  width: auto;
  overflow: hidden;
  border-radius: 0px;
}

#tree-view {
  border-top: 1px solid #2ebd59;
  border-bottom: 1px solid #2ebd59;
  height: 80%;
}

#help-instruction{
  padding:10px;
}
.page-header {
  margin-bottom: 0px;
}
.thumbnail {
  border-color: #1ed760;
}
#rightThumbnail{
  border-radius: 0px;
  margin-bottom: 0px;
}
.ourGreen{
  background-color: #96deac;
}
#tree-heading{
  background-color: #96deac;
  font-size: 30px;
  padding-left: 10px;
  color: cadetblue;
}