.brand {
  font-size: 20px;
  font-weight: 500;
  padding-top: 5px;
  cursor: pointer;
}

.right {
  background-color: #f6f6f6;
}

#search-field {
  display: inline-flex;
}

main {
  overflow: hidden;
  height: auto;
  background-color: #f6f6f6;
}

#left {
  float: none;
  width: auto;
  overflow: hidden;
}