.brand {
	font-size: 20px;
	font-weight: 500;
	padding-top: 5px;
  cursor: pointer;
}

.right {
  background-color: #f6f6f6;
}

.center-div {
     margin: 0 auto;
     width: 400px; 
}

/*#search-field {
	display: inline-flex;
}
*/
.suggest-holder {

}
.suggest-holder input {
/*	width: 146px;
*/	border: 1px solid rgba(0,120,0,.6);
}
.suggest-holder ul {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid rgba(0,120,0,.6);
/*	margin-top: 30px;*/
}
.suggest-holder li {
	padding: 10px;
}
.suggest-holder li:hover {
	cursor: pointer;
}

.suggest-holder li:hover, li.active {
	background: rgba(0,120,0, .2);
}

.suggest-result {
	/*position:absolute;*/
	font-weight: bold;	
/*	display: block;
*//*	height: 10px;
*/}

.suggest-nav {
	position: absolute;
}

#main {
  overflow: hidden;
  height: auto;
  background-color: #f6f6f6;
}

#left {
  float: none;
  width: auto;
  overflow: hidden;
}

