.brand {
	font-size: 20px;
	font-weight: 500;
	padding-top: 5px;
  cursor: pointer;
}

.right {
  background-color: #f6f6f6;
}

.center-div {
  margin: 0 auto;
  width: 400px; 
}

.suggest-holder {
}

.suggest-holder input {
	border: 1px solid rgba(0,120,0,.6);
}

.suggest-holder ul {
	display: none;
	border: 1px solid rgba(0,120,0,.6);
}

.suggest-holder li {
	padding: 10px;
}

.suggest-holder li:hover {
	cursor: pointer;
}

.suggest-holder li:hover, li.active {
	background: rgba(0,120,0, .2);
}

.suggest-result {
	font-weight: bold;
}

.suggest-nav {
	position: absolute;
}

.alert {
  display: inline;
}

.input-error {
  color: red;
  display: none;
}

/* d3Tree */

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: black;
  stroke-width: 2px;
}

.node text {
  font-size:15px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.overlay{
  background-color:#FFFFFF;
}

#main {
  overflow: hidden;
  height: auto;
  background-color: #f6f6f6;
}

#left {
  float: none;
  width: auto;
  overflow: hidden;
}

.popup {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.15);
}

.popup-inner {
  font-size: 38px;
  width: 150px;
  text-align: center;
  height: 55px;
  position: absolute;
  top: 80%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 6px rgba(0,0,0,1);
  border-radius: 3px;
  background: #1ed760;
  color: white;
  cursor: pointer;
}